.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px; /* match your sidebar width */
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-green-filled);
  z-index: 100;
}


.navbarMain {
  flex: 1;
  margin-top: 50px;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-white);

  &:hover {
    background-color: var(--mantine-color-green-7);
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-green-6);
    }
  }
}
